<!DOCTYPE html>
<html lang="es" xmlns="http://www.thymeleaf.org " data-bs-theme="dark">
<head th:replace="~{fragments/fragments :: head}"></head>
<body>

    <div th:replace="~{fragments/fragments :: navbar}"></div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-auto">
                <img src="/images/underConstruction.jpg" class="img-fluid rounded-4" alt="LogoProblema">
            </div>
        </div>
    </div>

    <div th:replace="~{fragments/fragments :: footer}"></div>
    
</body>
</html>